doctype html
html(lang='en')
head
    title
body
    h1  Welcome to PUG Template Engine.!
    p   This is a paragraph tag and this is new line
    ul
        li  angular
        li  node
        li  express